<p-table [columns]="events.headers" [value]="events.data" dataKey="id" #eventTable
          selectionMode="single" [(selection)]="selectedEvent"
          (onRowSelect)="onRowSelect($event)" (onRowUnselect)="cancelUnselect($event)"
          (onRowExpand)="test($event)"
    >
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th [style.width.px]='40'></th>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
    <tr [pSelectableRow]="rowData" (dblclick)="test()">
      <td [style.width.px]='40'>
        <a (click)="$event.stopPropagation()" href="#" [pRowToggler]="rowData">
          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
        </a>
      </td>
      <td *ngFor="let col of columns">
        <span class="ui-cell-text">{{rowData[col.field]}}</span>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
    <tr *ngFor="let subEvent of rowData.subEvents">
      <td [style.width.px]='40'></td>
      <td [attr.colspan]="columns.length">
        {{subEvent.code}}
      </td>
    </tr>
  </ng-template>
</p-table>
